<%- include('../partials/head') %>



<div class="container">

    <header class="jumbotron">
        <div class="container">


            <h1>Welcome To YelpCamp!</h1>
            <p>View our hand-picked campgrounds from all over the world</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new"> add a new campground</a>
            </p>
        </div>
    </header>


    <br>

    <br>


    <div class="row" style=" display: flex;
    flex-wrap: wrap;
    text-align: center;">

        <% campground.forEach(element => {%>
        <div class="col-md-3 col-sm-6">

            <div class="thumbnail">
                <img src="<%= element ['image'];%>" alt="">
                <div class="caption">
                    <h4><%= element['name'] %> </h4>
                </div>
                <p>
                    <a href="/campgrounds/view/<%= element['_id'] %>"  class="btn btn-primary">More Info</a>
                </p>
            </div>


        </div>
        <%   }); %>
    </div>
</div>
</div>

<a href="/">Home</a>
</div>
<%- include('../partials/foot') %>