<%-include('../partials/head')%>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">
                    info 1
                </li><li class="list-group-item">
                    info 2
                </li><li class="list-group-item">
                    info 3
                </li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <% if(!campground.image){ %>
                    <img class="img-responsive" src="/imgs/noImage.png">    
                <% }else{ %> 
                
                <img class="img-responsive" src="../../../<%= campground['image'] ;%>">
                <% } %> 
                <div class="caption-full">
                    <h4 class="pull-right">
                        <%= campground.price %> $/night
                    </h4>
                    
                    <h4><a href=""><%= campground['name'] %></a></h4>
                    <p><%= campground['description']; %> </p>
                    <%if (user&&user.id.toString()===campground.creator.id.toString()) { %> 
                    <div class="btn-group dropup pull-right">
                        <button id="forModal" type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>    
                    properties    
                        </button>
                        
                        <ul class="dropdown-menu">
                            <!-- add checkboxes and icons here -->
                            <form action="/campgrounds/view/<%= campground.id %>?_method=PUT" method="POST">
                            
                                <li><input type="checkbox" name="properties[ac]">AC</li>
                                <li><input type="checkbox" name="properties[clean]">Clean</li>
                                <li><input type="checkbox" name="properties[bbq]">BBQ</li>
                                <li><input type="checkbox" name="properties[acdc]">ACDC</li>
                                <li><input type="checkbox" name="properties[parking]">Parking</li>
                                <button type="submit" class="btn btn-xs btn-primary pull-right align-center">submit</button>
                            </form>
                          </ul>
                          <% }else{ %> 
                            <div class="btn-group dropup pull-right">
                                <button id="forModal" type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>    
                            properties    
                                </button>
                                
                                <ul class="dropdown-menu">
                                            <% if (campground.properties.ac===true) {%>
                                        <li><input type="checkbox"   checked disabled>AC</li>        
                                           <% }else{ %>
                                            <li><input type="checkbox"    disabled>AC</li>
                                            <%  }%>  
                                            <% if (campground.properties.clean===true) {%>
                                        <li><input type="checkbox"   checked disabled>Clean</li>        
                                           <% }else{ %>
                                            <li><input type="checkbox"    disabled>Clean</li>
                                            <%  }%>  
                                            <% if (campground.properties.bbq===true) {%>
                                        <li><input type="checkbox"   checked disabled>BBQ</li>        
                                           <% }else{ %>
                                            <li><input type="checkbox"    disabled>BBQ</li>
                                            <%  }%>  
                                            <% if (campground.properties.acdc===true) {%>
                                        <li><input type="checkbox"   checked disabled>ACDC</li>        
                                           <% }else{ %>
                                            <li><input type="checkbox"    disabled>ACDC</li>
                                            <%  }%>  
                                            <% if (campground.properties.parking===true) {%>
                                        <li><input type="checkbox"   checked disabled>Parking</li>        
                                           <% }else{ %>
                                            <li><input type="checkbox"    disabled>Parking</li>
                                            <%  }%>  
                                  </ul>
                          <% } %> 
                        </div>
                    <p>Submitted by
                        <strong><em><%= campground.creator.username %></em> </strong>
                    </p>
                    
                    </div>
                    
                    <%if (user&&user.id.toString()===campground.creator.id.toString()) { %> 
                    <a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                    <form class="deleteForm" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-xs btn-danger" type="submit">Delete</button>
                    </form>
                <% } %> 

                
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new ">go to add comment</a>  
                </div>
                <hr>
                <div class="row">
                <% campground.comments.forEach(function (comment) {%>
                
                    <div class="col-md-12">
                        <strong><%= comment.author.username %></strong>
                                        
                        <span class="pull-right"><%= comment.created.toDateString();  %> </span>
                        
                        <!-- <span class="pull-right"> 10 days ago</span> -->
                        <p>
                            <%= comment.text %> 
                        </p>
                        <% if(user&&user.id.toString()===comment.author.id.toString()){ %> 
                        <a class="btn btn-xs btn-warning" 
                        href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">
                        Edit</a>
                        <form class="deleteForm" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger" type="submit">Delete</button>
                        </form>
                    <% } %> 
                    </div>
                    <% }) %> 
                </div>
            </div>
        </div>
    </div>
</div>






<script src="/js/generalmethods.js"></script>
<%-include('../partials/foot')%>